In [1]:
# import panda as pd
import datetime

import yfinance as yf

# from matplotlib import pyplot as plt
# import mplcyberpunk
# import smtplib
# from email.message import EmailMessage


listaAtivos = ["MRFG3.SA", "JBSS3.SA", "TAEE11.SA"]

dataAtual = datetime.datetime.now()

anoAnterior = dataAtual - datetime.timedelta(days=365)

dadosMercado = yf.download(listaAtivos, anoAnterior, dataAtual)

print(dadosMercado)

dadosFechamento = dadosMercado['Adj Close']
dadosFechamento.columns = ['dolar', 'ibovespa']

[*********************100%***********************]  3 of 3 completed
            Adj Close                            Close
             JBSS3.SA   MRFG3.SA  TAEE11.SA   JBSS3.SA   MRFG3.SA  TAEE11.SA
Date
2022-04-11  35.627068  17.300650  39.230240  38.099998  21.780001  44.180000  \
2022-04-12  34.935097  16.482483  39.532150  37.360001  20.750000  44.520000
2022-04-13  35.019260  16.602634  39.194717  37.450001  20.320000  44.139999
2022-04-14  35.982407  16.619558  39.336792  38.480000  19.760000  44.299999
2022-04-18  36.075916  16.215843  39.709740  38.580002  19.280001  44.720001
...               ...        ...        ...        ...        ...        ...
2023-04-03  17.299999   6.300000  34.650002  17.299999   6.300000  34.650002
2023-04-04  17.450001   6.370000  35.180000  17.450001   6.370000  35.180000
2023-04-05  17.219999   6.270000  35.180000  17.219999   6.270000  35.180000
2023-04-06  16.790001   6.300000  35.049999  16.790001   6.300000  35.049999
2023-04-10  17.170000   6.410000  33.950001  17.170000   6.410000  33.950001

                 High                              Low
             JBSS3.SA   MRFG3.SA  TAEE11.SA   JBSS3.SA   MRFG3.SA  TAEE11.SA
Date
2022-04-11  39.250000  22.490000  44.580002  38.020000  21.709999  44.049999  \
2022-04-12  38.520000  22.219999  45.349998  37.259998  20.629999  44.279999
2022-04-13  37.849998  20.850000  44.810001  37.060001  20.110001  44.139999
2022-04-14  38.700001  19.959999  44.540001  37.369999  19.559999  43.950001
2022-04-18  38.889999  19.940001  44.849998  37.980000  19.180000  44.340000
...               ...        ...        ...        ...        ...        ...
2023-04-03  17.840000   6.680000  34.930000  17.059999   6.200000  34.240002
2023-04-04  17.799999   6.460000  35.290001  17.330000   6.210000  34.599998
2023-04-05  17.590000   6.420000  35.509998  17.139999   6.150000  34.740002
2023-04-06  17.400000   6.510000  35.299999  16.709999   6.200000  35.000000
2023-04-10   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000

                 Open                          Volume
             JBSS3.SA   MRFG3.SA  TAEE11.SA  JBSS3.SA  MRFG3.SA  TAEE11.SA
Date
2022-04-11  38.730000  22.330000  44.320000  10585900   3911700  1536100.0
2022-04-12  38.500000  22.000000  44.490002  10374000   7974800  1660400.0
2022-04-13  37.369999  20.840000  44.689999  35291300   6482300  2412900.0
2022-04-14  37.380001  19.820000  44.220001  13573100   5032300  1761100.0
2022-04-18  38.360001  19.809999  44.340000   6536700   7123600  1355900.0
...               ...        ...        ...       ...       ...        ...
2023-04-03  17.740000   6.670000  34.849998  11163000  15668900  2448600.0
2023-04-04  17.370001   6.310000  35.000000   8851700  11438400  3813500.0
2023-04-05  17.440001   6.370000  35.259998   9471200  11513700  1731700.0
2023-04-06  17.350000   6.260000  35.180000   9995300   9582300  1403000.0
2023-04-10   0.000000   0.000000   0.000000         0         0        0.0

[250 rows x 18 columns]

ValueError: Length mismatch: Expected axis has 3 elements, new values have 2 elements

In [2]:
# import panda as pd
import datetime

import yfinance as yf

# from matplotlib import pyplot as plt
# import mplcyberpunk
# import smtplib
# from email.message import EmailMessage


listaAtivos = ["MRFG3.SA", "JBSS3.SA", "TAEE11.SA"]

dataAtual = datetime.datetime.now()

anoAnterior = dataAtual - datetime.timedelta(days=365)

dadosMercado = yf.download(listaAtivos, anoAnterior, dataAtual)

print(dadosMercado)

dadosFechamento = dadosMercado['Adj Close']
dadosFechamento.columns = ['dolar', 'ibovespa']

[*********************100%***********************]  3 of 3 completed
            Adj Close                            Close
             JBSS3.SA   MRFG3.SA  TAEE11.SA   JBSS3.SA   MRFG3.SA  TAEE11.SA
Date
2022-04-11  35.627068  17.300650  39.230240  38.099998  21.780001  44.180000  \
2022-04-12  34.935101  16.482483  39.532146  37.360001  20.750000  44.520000
2022-04-13  35.019260  16.602634  39.194721  37.450001  20.320000  44.139999
2022-04-14  35.982403  16.619558  39.336792  38.480000  19.760000  44.299999
2022-04-18  36.075916  16.215843  39.709743  38.580002  19.280001  44.720001
...               ...        ...        ...        ...        ...        ...
2023-04-03  17.299999   6.300000  34.650002  17.299999   6.300000  34.650002
2023-04-04  17.450001   6.370000  35.180000  17.450001   6.370000  35.180000
2023-04-05  17.219999   6.270000  35.180000  17.219999   6.270000  35.180000
2023-04-06  16.790001   6.300000  35.049999  16.790001   6.300000  35.049999
2023-04-10  17.170000   6.410000  33.950001  17.170000   6.410000  33.950001

                 High                              Low
             JBSS3.SA   MRFG3.SA  TAEE11.SA   JBSS3.SA   MRFG3.SA  TAEE11.SA
Date
2022-04-11  39.250000  22.490000  44.580002  38.020000  21.709999  44.049999  \
2022-04-12  38.520000  22.219999  45.349998  37.259998  20.629999  44.279999
2022-04-13  37.849998  20.850000  44.810001  37.060001  20.110001  44.139999
2022-04-14  38.700001  19.959999  44.540001  37.369999  19.559999  43.950001
2022-04-18  38.889999  19.940001  44.849998  37.980000  19.180000  44.340000
...               ...        ...        ...        ...        ...        ...
2023-04-03  17.840000   6.680000  34.930000  17.059999   6.200000  34.240002
2023-04-04  17.799999   6.460000  35.290001  17.330000   6.210000  34.599998
2023-04-05  17.590000   6.420000  35.509998  17.139999   6.150000  34.740002
2023-04-06  17.400000   6.510000  35.299999  16.709999   6.200000  35.000000
2023-04-10   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000

                 Open                          Volume
             JBSS3.SA   MRFG3.SA  TAEE11.SA  JBSS3.SA  MRFG3.SA  TAEE11.SA
Date
2022-04-11  38.730000  22.330000  44.320000  10585900   3911700  1536100.0
2022-04-12  38.500000  22.000000  44.490002  10374000   7974800  1660400.0
2022-04-13  37.369999  20.840000  44.689999  35291300   6482300  2412900.0
2022-04-14  37.380001  19.820000  44.220001  13573100   5032300  1761100.0
2022-04-18  38.360001  19.809999  44.340000   6536700   7123600  1355900.0
...               ...        ...        ...       ...       ...        ...
2023-04-03  17.740000   6.670000  34.849998  11163000  15668900  2448600.0
2023-04-04  17.370001   6.310000  35.000000   8851700  11438400  3813500.0
2023-04-05  17.440001   6.370000  35.259998   9471200  11513700  1731700.0
2023-04-06  17.350000   6.260000  35.180000   9995300   9582300  1403000.0
2023-04-10   0.000000   0.000000   0.000000         0         0        0.0

[250 rows x 18 columns]

ValueError: Length mismatch: Expected axis has 3 elements, new values have 2 elements

In [3]:
# import panda as pd
import datetime

import yfinance as yf

# from matplotlib import pyplot as plt
# import mplcyberpunk
# import smtplib
# from email.message import EmailMessage


listaAtivos = ["MRFG3.SA", "JBSS3.SA", "TAEE11.SA"]

dataAtual = datetime.datetime.now()

anoAnterior = dataAtual - datetime.timedelta(days=365)

dadosMercado = yf.download(listaAtivos, anoAnterior, dataAtual)

print(dadosMercado)

dadosFechamento = dadosMercado['Adj Close']
dadosFechamento.columns = ['dolar', 'ibovespa']

display(dadosFechamento)

[*********************100%***********************]  3 of 3 completed
            Adj Close                            Close
             JBSS3.SA   MRFG3.SA  TAEE11.SA   JBSS3.SA   MRFG3.SA  TAEE11.SA
Date
2022-04-11  35.627068  17.300650  39.230236  38.099998  21.780001  44.180000  \
2022-04-12  34.935101  16.482483  39.532146  37.360001  20.750000  44.520000
2022-04-13  35.019260  16.602634  39.194717  37.450001  20.320000  44.139999
2022-04-14  35.982403  16.619556  39.336796  38.480000  19.760000  44.299999
2022-04-18  36.075916  16.215843  39.709740  38.580002  19.280001  44.720001
...               ...        ...        ...        ...        ...        ...
2023-04-03  17.299999   6.300000  34.650002  17.299999   6.300000  34.650002
2023-04-04  17.450001   6.370000  35.180000  17.450001   6.370000  35.180000
2023-04-05  17.219999   6.270000  35.180000  17.219999   6.270000  35.180000
2023-04-06  16.790001   6.300000  35.049999  16.790001   6.300000  35.049999
2023-04-10  17.170000   6.410000  33.950001  17.170000   6.410000  33.950001

                 High                              Low
             JBSS3.SA   MRFG3.SA  TAEE11.SA   JBSS3.SA   MRFG3.SA  TAEE11.SA
Date
2022-04-11  39.250000  22.490000  44.580002  38.020000  21.709999  44.049999  \
2022-04-12  38.520000  22.219999  45.349998  37.259998  20.629999  44.279999
2022-04-13  37.849998  20.850000  44.810001  37.060001  20.110001  44.139999
2022-04-14  38.700001  19.959999  44.540001  37.369999  19.559999  43.950001
2022-04-18  38.889999  19.940001  44.849998  37.980000  19.180000  44.340000
...               ...        ...        ...        ...        ...        ...
2023-04-03  17.840000   6.680000  34.930000  17.059999   6.200000  34.240002
2023-04-04  17.799999   6.460000  35.290001  17.330000   6.210000  34.599998
2023-04-05  17.590000   6.420000  35.509998  17.139999   6.150000  34.740002
2023-04-06  17.400000   6.510000  35.299999  16.709999   6.200000  35.000000
2023-04-10   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000

                 Open                          Volume
             JBSS3.SA   MRFG3.SA  TAEE11.SA  JBSS3.SA  MRFG3.SA  TAEE11.SA
Date
2022-04-11  38.730000  22.330000  44.320000  10585900   3911700  1536100.0
2022-04-12  38.500000  22.000000  44.490002  10374000   7974800  1660400.0
2022-04-13  37.369999  20.840000  44.689999  35291300   6482300  2412900.0
2022-04-14  37.380001  19.820000  44.220001  13573100   5032300  1761100.0
2022-04-18  38.360001  19.809999  44.340000   6536700   7123600  1355900.0
...               ...        ...        ...       ...       ...        ...
2023-04-03  17.740000   6.670000  34.849998  11163000  15668900  2448600.0
2023-04-04  17.370001   6.310000  35.000000   8851700  11438400  3813500.0
2023-04-05  17.440001   6.370000  35.259998   9471200  11513700  1731700.0
2023-04-06  17.350000   6.260000  35.180000   9995300   9582300  1403000.0
2023-04-10   0.000000   0.000000   0.000000         0         0        0.0

[250 rows x 18 columns]

ValueError: Length mismatch: Expected axis has 3 elements, new values have 2 elements

In [4]:
# import panda as pd
import datetime

import yfinance as yf

# from matplotlib import pyplot as plt
# import mplcyberpunk
# import smtplib
# from email.message import EmailMessage


listaAtivos = ["MRFG3.SA", "JBSS3.SA", "TAEE11.SA"]

dataAtual = datetime.datetime.now()

anoAnterior = dataAtual - datetime.timedelta(days=365)

dadosMercado = yf.download(listaAtivos, anoAnterior, dataAtual)

display(dadosMercado)

dadosFechamento = dadosMercado['Adj Close']# import panda as pd
import datetime

import yfinance as yf

# from matplotlib import pyplot as plt
# import mplcyberpunk
# import smtplib
# from email.message import EmailMessage


listaAtivos = ["MRFG3.SA", "JBSS3.SA", "TAEE11.SA"]

dataAtual = datetime.datetime.now()

anoAnterior = dataAtual - datetime.timedelta(days=365)

dadosMercado = yf.download(listaAtivos, anoAnterior, dataAtual)

print(dadosMercado)

dadosFechamento = dadosMercado['Adj Close']
# import panda as pd
import datetime

import yfinance as yf

# from matplotlib import pyplot as plt
# import mplcyberpunk
# import smtplib
# from email.message import EmailMessage


listaAtivos = ["MRFG3.SA", "JBSS3.SA", "TAEE11.SA"]

dataAtual = datetime.datetime.now()

anoAnterior = dataAtual - datetime.timedelta(days=365)

dadosMercado = yf.download(listaAtivos, anoAnterior, dataAtual)

dadosFechamento = dadosMercado['Adj Close']

print(dadosFechamento)

[*********************100%***********************]  3 of 3 completed

            Adj Close                            Close
             JBSS3.SA   MRFG3.SA  TAEE11.SA   JBSS3.SA   MRFG3.SA  TAEE11.SA
Date
2022-04-11  35.627068  17.300650  39.230240  38.099998  21.780001  44.180000  \
2022-04-12  34.935097  16.482483  39.532146  37.360001  20.750000  44.520000
2022-04-13  35.019260  16.602633  39.194717  37.450001  20.320000  44.139999
2022-04-14  35.982407  16.619558  39.336792  38.480000  19.760000  44.299999
2022-04-18  36.075916  16.215843  39.709743  38.580002  19.280001  44.720001
...               ...        ...        ...        ...        ...        ...
2023-04-03  17.299999   6.300000  34.650002  17.299999   6.300000  34.650002
2023-04-04  17.450001   6.370000  35.180000  17.450001   6.370000  35.180000
2023-04-05  17.219999   6.270000  35.180000  17.219999   6.270000  35.180000
2023-04-06  16.790001   6.300000  35.049999  16.790001   6.300000  35.049999
2023-04-10  17.170000   6.410000  33.950001  17.170000   6.410000  33.950001

                 High                              Low
             JBSS3.SA   MRFG3.SA  TAEE11.SA   JBSS3.SA   MRFG3.SA  TAEE11.SA
Date
2022-04-11  39.250000  22.490000  44.580002  38.020000  21.709999  44.049999  \
2022-04-12  38.520000  22.219999  45.349998  37.259998  20.629999  44.279999
2022-04-13  37.849998  20.850000  44.810001  37.060001  20.110001  44.139999
2022-04-14  38.700001  19.959999  44.540001  37.369999  19.559999  43.950001
2022-04-18  38.889999  19.940001  44.849998  37.980000  19.180000  44.340000
...               ...        ...        ...        ...        ...        ...
2023-04-03  17.840000   6.680000  34.930000  17.059999   6.200000  34.240002
2023-04-04  17.799999   6.460000  35.290001  17.330000   6.210000  34.599998
2023-04-05  17.590000   6.420000  35.509998  17.139999   6.150000  34.740002
2023-04-06  17.400000   6.510000  35.299999  16.709999   6.200000  35.000000
2023-04-10   0.000000   0.000000   0.000000   0.000000   0.000000   0.000000

                 Open                          Volume
             JBSS3.SA   MRFG3.SA  TAEE11.SA  JBSS3.SA  MRFG3.SA  TAEE11.SA
Date
2022-04-11  38.730000  22.330000  44.320000  10585900   3911700  1536100.0
2022-04-12  38.500000  22.000000  44.490002  10374000   7974800  1660400.0
2022-04-13  37.369999  20.840000  44.689999  35291300   6482300  2412900.0
2022-04-14  37.380001  19.820000  44.220001  13573100   5032300  1761100.0
2022-04-18  38.360001  19.809999  44.340000   6536700   7123600  1355900.0
...               ...        ...        ...       ...       ...        ...
2023-04-03  17.740000   6.670000  34.849998  11163000  15668900  2448600.0
2023-04-04  17.370001   6.310000  35.000000   8851700  11438400  3813500.0
2023-04-05  17.440001   6.370000  35.259998   9471200  11513700  1731700.0
2023-04-06  17.350000   6.260000  35.180000   9995300   9582300  1403000.0
2023-04-10   0.000000   0.000000   0.000000         0         0        0.0

[250 rows x 18 columns]

In [5]:
# import panda as pd
import datetime

import yfinance as yf

# from matplotlib import pyplot as plt
# import mplcyberpunk
# import smtplib
# from email.message import EmailMessage


listaAtivos = ["MRFG3.SA", "JBSS3.SA", "TAEE11.SA"]

dataAtual = datetime.datetime.now()

anoAnterior = dataAtual - datetime.timedelta(days=365)

dadosMercado = yf.download(listaAtivos, anoAnterior, dataAtual)

dadosFechamento = dadosMercado['Adj Close']

display(dadosFechamento)

[*********************100%***********************]  3 of 3 completed

             JBSS3.SA   MRFG3.SA  TAEE11.SA
Date
2022-04-11  35.627068  17.300650  39.230240
2022-04-12  34.935101  16.482483  39.532146
2022-04-13  35.019260  16.602633  39.194721
2022-04-14  35.982403  16.619558  39.336796
2022-04-18  36.075916  16.215843  39.709740
...               ...        ...        ...
2023-04-03  17.299999   6.300000  34.650002
2023-04-04  17.450001   6.370000  35.180000
2023-04-05  17.219999   6.270000  35.180000
2023-04-06  16.790001   6.300000  35.049999
2023-04-10  17.170000   6.410000  33.950001

[250 rows x 3 columns]

In [6]:
# import panda as pd
import datetime

import yfinance as yf

# from matplotlib import pyplot as plt
# import mplcyberpunk
# import smtplib
# from email.message import EmailMessage


listaAtivos = ["MRFG3.SA", "JBSS3.SA", "TAEE11.SA"]

dataAtual = datetime.datetime.now()

anoAnterior = dataAtual - datetime.timedelta(days=365)

dadosMercado = yf.download(listaAtivos, anoAnterior, dataAtual)

dadosFechamento = dadosMercado['Adj Close']
dadosFechamento.columns = ['dolar', 'ibovespa']

display(dadosFechamento)

[*********************100%***********************]  3 of 3 completed

ValueError: Length mismatch: Expected axis has 3 elements, new values have 2 elements

In [7]:
# import panda as pd
import datetime

import yfinance as yf

# from matplotlib import pyplot as plt
# import mplcyberpunk
# import smtplib
# from email.message import EmailMessage


listaAtivos = ["MRFG3.SA", "JBSS3.SA", "TAEE11.SA"]

dataAtual = datetime.datetime.now()

anoAnterior = dataAtual - datetime.timedelta(days=365)

dadosMercado = yf.download(listaAtivos, anoAnterior, dataAtual)

dadosFechamento = dadosMercado['Adj Close']
dadosFechamento.columns = ['JBS', 'MAFRIG', 'TAESA']

display(dadosFechamento)

[*********************100%***********************]  3 of 3 completed

                  JBS     MAFRIG      TAESA
Date
2022-04-11  35.627068  17.300650  39.230240
2022-04-12  34.935101  16.482483  39.532146
2022-04-13  35.019260  16.602634  39.194717
2022-04-14  35.982403  16.619556  39.336792
2022-04-18  36.075916  16.215843  39.709740
...               ...        ...        ...
2023-04-03  17.299999   6.300000  34.650002
2023-04-04  17.450001   6.370000  35.180000
2023-04-05  17.219999   6.270000  35.180000
2023-04-06  16.790001   6.300000  35.049999
2023-04-10  17.170000   6.410000  33.950001

[250 rows x 3 columns]

In [8]:
# import panda as pd
import datetime

import yfinance as yf

# from matplotlib import pyplot as plt
# import mplcyberpunk
# import smtplib
# from email.message import EmailMessage


listaAtivos = ["MRFG3.SA", "JBSS3.SA", "TAEE11.SA"]

dataAtual = datetime.datetime.now()

anoAnterior = dataAtual - datetime.timedelta(days=365)

dadosMercado = yf.download(listaAtivos, anoAnterior, dataAtual)

dadosFechamento = dadosMercado['Adj Close']
dadosFechamento.columns = ['JBS', 'MAFRIG', 'TAESA']

dadosFechamento = dadosFechamento.dropna()

dadosFechamento.head(50)

dadosFechamentoMensal = dadosFechamento.resample("M").last()



display(dadosFechamento)
display(dadosFechamentoMensal)

[*********************100%***********************]  3 of 3 completed

                  JBS     MAFRIG      TAESA
Date
2022-04-11  35.627068  17.300650  39.230240
2022-04-12  34.935101  16.482483  39.532150
2022-04-13  35.019260  16.602634  39.194717
2022-04-14  35.982403  16.619556  39.336796
2022-04-18  36.075916  16.215843  39.709740
...               ...        ...        ...
2023-04-03  17.299999   6.300000  34.650002
2023-04-04  17.450001   6.370000  35.180000
2023-04-05  17.219999   6.270000  35.180000
2023-04-06  16.790001   6.300000  35.049999
2023-04-10  17.170000   6.410000  33.950001

[249 rows x 3 columns]

                  JBS     MAFRIG      TAESA
Date
2022-04-30  35.393295  15.770076  39.327915
2022-05-31  34.215324  13.145935  37.433079
2022-06-30  30.361296  10.185367  35.801521
2022-07-31  30.697683  11.102133  37.507236
2022-08-31  28.439087  11.628350  39.994328
2022-09-30  24.142950   8.727895  37.374741
2022-10-31  23.989170   9.461851  38.564590
2022-11-30  22.049999   7.737495  33.703827
2022-12-31  21.990000   8.700000  33.309120
2023-01-31  20.080000   7.700000  37.080002
2023-02-28  19.190001   6.370000  35.560001
2023-03-31  17.850000   6.640000  34.830002
2023-04-30  17.170000   6.410000  33.950001